{
  "extends": "airbnb/base",
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "func-names" : 0,
    "import/extensions": [2, "never", { "json": "always" }],
    "import/no-unresolved": [2, { "ignore": ["^[@^]"] }],
    "max-depth": [2, 4],
    "max-nested-callbacks": [2, 4],
    "newline-per-chained-call": [0, { "ignoreChainWithDepth": 3 }],
    "no-param-reassign": ["error", { "props": false }],
    "semi": [2, "never"]
  }
}
